
.jcManageLarge {
    background:url(../image/manage32.png);
    background-repeat:no-repeat;
    background-position:center;
}
.qySetBackColor {
    background:url(../image/bk.png);
    background-repeat:no-repeat;
    background-position:center;
}
.rollView {
    background:url(../image/rollView.png);
    background-repeat:no-repeat;
    background-position:center;
}
