
.jcManageLarge {
    background:url(../image/36.png);
    background-repeat:no-repeat;
    background-position:center;
}
.jcdSave {
    background:url(../image/23.png);
    background-repeat:no-repeat;
    background-position:center;
}
.distance {
    background:url(../image/4.png);
    background-repeat:no-repeat;
    background-position:center;
}
