<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>历史轨迹查询</title>
    <link href="mx/dataMine/css/dmExplit.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/easyui-ribbon/ribbon.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/themes/icon.css" rel="stylesheet" />
    <script src="mx/dataMine/json3.min.js" type="text/javascript"></script>
    <script src="mx/mxlib/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/easyui-ribbon/jquery.ribbon.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/datagrid-groupview.js" type="text/javascript"></script>
</head>
<body id="cc" class="easyui-layout" data-options="fit:true">
    <div id="menuArea" data-options="region:'north',plain:false" style="height: 0px;"></div>
    <div data-options="region:'west', collapsible: false" style="width: 300px; height: auto">
    <div class="easyui-panel" title="历史轨迹查询" style="width:100%;max-width:400px;padding:30px 60px;">
        <form id="ff" method="post">
            <div style="margin-bottom:20px">
                <label for="rfId">RFID:</label>
                <input class="easyui-numberspinner" id="rfId" name="rfId" style="width:100%;" data-options="required: true"/>
            </div>
            <div style="margin-bottom:20px">
                <label for="begin">开始时间:</label>
                <input class="easyui-datetimebox" style="width:100%;" id="begin" name="begin" data-options="required: true"/>
            </div>
            <div style="margin-bottom:20px">
                <label for="end">结束时间:</label>
                <input class="easyui-datetimebox" style="width:100%;" id="end" name="end" data-options="required: true"/>
            </div>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="queryHistory()" style="width:80px">查询</a>
        </div>
    </div>
    </div>
    <div data-options="region:'center'" style="overflow: hidden;">
        <object th:classid="${classid}" th:type="${type}" id="MetaMapX" codebase="" width="100%" height="100%"></object>
    </div>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ '';           
$(function () {
	//打开图形
	openUrl();
	// $("#rfId").textbox('setValue', '1');
	// $('#begin').datetimebox('setValue', '2014-04-01');
	// $('#end').datetimebox('setValue', '2014-04-02');
});

function openUrl() {
    //新增空白view,目的为了传入扩展数据
    //设置扩展数据,view层通过MvHost.GetData("contextPath")来取出扩展数据
    MetaMapX.AddView("mmap");
    MetaMapX.CurViewSetData("contextPath", contextPath);
	
	var strFullPath = decodeURI(window.document.location.href);
    var index = strFullPath.lastIndexOf("/");
    var webUrl = strFullPath.substring(0, index);
    var url = webUrl + "/dwg";
	MetaMapX.OpenUrl(url, false, "");
}


function queryHistory() {
	var isValid = $("#ff").form("validate");
	if (!isValid) {
		alert("请输入RFID、开始时间和结束时间!");
		return;
	}
	var rfId = $("#rfId").textbox('getValue');
    var begin = $("#begin").datetimebox('getValue');
    var end = $("#end").datetimebox('getValue');
	MetaMapX.CurViewEvaluateJavaScript("history.getPathData('" + rfId +  "', '" + begin + "', '" + end + "');");
}
/*]]>*/
</script>
</html>