<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>分站路径维护</title>
    <link href="mx/dataMine/css/dmExplit.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/easyui-ribbon/ribbon.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
    <link href="mx/dataMine/easyui/themes/icon.css" rel="stylesheet" />
    <script src="mx/dataMine/json3.min.js" type="text/javascript"></script>
    <script src="mx/mxlib/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/easyui-ribbon/jquery.ribbon.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/datagrid-groupview.js" type="text/javascript"></script>
    <script src="mx/dataMine/dmFunction.js" type="text/javascript"></script>
</head>
<body id="cc" class="easyui-layout" data-options="fit:true">
    <div id="menuArea" data-options="region:'north',plain:false" style="height: 104px;"></div>
    <div data-options="region:'west', title:'数据管理', iconCls:'dataManage'" style="width: 300px; height: auto">
        <div id="westPanelData" class="easyui-accordion" data-options="fit:true,border:false">
        </div>
    </div>
    <div data-options="region:'center'" style="overflow: hidden;">
        <object th:classid="${classid}" th:type="${type}" id="MetaMapX" codebase="" width="100%" height="100%"></object>
    </div>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ '';           
$(function () {
    //收缩
    $('#cc').layout('collapse', 'west');
    //构造菜单数据
    var data = {
        selected: 0,
        tabs: [{
            title: '数据管理',
            groups: [
                {
                    tools: [{
                        name: 'stationPath',
                        text: '人员定位分站',
                        iconCls: 'jcManageLarge',
                        iconAlign: 'top',
                        size: 'large'
                    }]
                },{
                    tools: [{
                        name: 'stationPathSave',
                        text: '路径保存',
                        iconCls: 'jcdSave',
                        iconAlign: 'top',
                        size: 'large'
                    }]
                }]
        }]
    };
	//嵌入ribbon菜单(easyui ribbon)
	$('#menuArea').ribbon({
		data: data
	});
	
	addClickEvent();
	//打开图形
	openUrl();
});

function openUrl() {
    //新增空白view,目的为了传入扩展数据
    //设置扩展数据,view层通过MvHost.GetData("mineId")来取出扩展数据
    MetaMapX.AddView("mmap");
    MetaMapX.CurViewSetData("contextPath", contextPath);
	
	var strFullPath = decodeURI(window.document.location.href);
    var index = strFullPath.lastIndexOf("/");
    var webUrl = strFullPath.substring(0, index);
    var url = webUrl + "/dwg";
	MetaMapX.OpenUrl(url, false, "");
}

function addClickEvent() {
    $('#menuArea').ribbon({
        onClick: function (name, target) {
            switch (name) {
                case "stationPath":
                	stationPath();
                    break;
                case "stationPathSave":
                	stationPathSave();
                    break;
                default:
                    break;
            }
        }
    })

    //调整ribbon css样式
    $(".ribbon-group").css("height", 60);
    $(".ribbon-group-sep").css("height", 60);
}
/*]]>*/
</script>
</html>