<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>传感器属性页面</title>
    <link href="mx/dataMine/easyui/themes/metro-blue/easyui.css" rel="stylesheet" />
    <script src="mx/dataMine/json3.min.js" type="text/javascript"></script>
    <script src="mx/mxlib/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="mx/dataMine/easyui/datagrid-groupview.js" type="text/javascript"></script>
</head>
<body>
    <div id="proertyTip"></div>
    <input type="hidden" id="sensorId" th:value="${sensorId}"/>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
$(function () {
    //得到测点编号
    //调用监测属性查询
    var sensorId = /*[[${sensorId}]]*/ 'sensor_9001';
    jcProperty(sensorId);
});

//监测属性提示
function jcProperty(sensorId) {

    $('#proertyTip').propertygrid({
        showGroup: true,
        fitColumns: true,
        columns: [[
            {
                field: 'name',
                title: '名称',
                width: 60,
                align: 'left'
            },
            {
                field: 'value',
                title: '值',
                width: 100,
                align: 'center'
            }
        ]],
        showHeader: false,
    });

    //得到属性对象
    var sensorObj = parent.sensor.sensorMap[sensorId];
    if ($.isEmptyObject(sensorObj)) {
        return;
    }

    //遍历
    var arr = [];
    if (sensorObj.hasOwnProperty("stationPort") && sensorObj["stationPort"]) {
        var stationPortObj = {};
        stationPortObj.name = "端口号:";
        stationPortObj.value = sensorObj["stationPort"];
        stationPortObj.group = "基本属性";
        stationPortObj.editor = "text";
        //添加到数组
        arr.push(stationPortObj);
    }
    if (sensorObj.hasOwnProperty("sensorName") && sensorObj["sensorName"]) {
        var sensorIdObj = {};
        sensorIdObj.name = "传感器名称:";
        sensorIdObj.value = sensorObj["sensorName"];
        sensorIdObj.group = "基本属性";
        sensorIdObj.editor = "text";
        arr.push(sensorIdObj);
    }
    if (sensorObj.hasOwnProperty("location") && sensorObj["location"]) {
        var locationObj = {};
        locationObj.name = "安装位置:";
        locationObj.value = sensorObj["location"];
        locationObj.group = "基本属性";
        locationObj.editor = "text";
        arr.push(locationObj);
    }
    if (sensorObj["analogFlag"] == 0 && sensorObj.hasOwnProperty("offName")) {
        var offNameObj = {};
        offNameObj.name = "停显示:";
        offNameObj.value = sensorObj["offName"];
        offNameObj.group = "基本属性";
        offNameObj.editor = "text";
        arr.push(offNameObj);
    }
    if (sensorObj["analogFlag"] == 0 && sensorObj.hasOwnProperty("onName")) {
        var onNameObj = {};
        onNameObj.name = "开显示:";
        onNameObj.value = sensorObj["onName"];
        onNameObj.group = "基本属性";
        onNameObj.editor = "text";
        arr.push(onNameObj);
    }
    if (sensorObj["analogFlag"] == 1 && sensorObj.hasOwnProperty("unit")) {
        var unitObj = {};
        unitObj.name = "单位:";
        unitObj.value = sensorObj["unit"];
        unitObj.group = "基本属性";
        unitObj.editor = "text";
        arr.push(unitObj);
    }
    if (sensorObj["analogFlag"] == 1 && sensorObj.hasOwnProperty("alarmValueRange")) {
        var alarmValueRangeObj = {};
        alarmValueRangeObj.name = "报警值:";
        alarmValueRangeObj.value = sensorObj["alarmValueRange"];
        alarmValueRangeObj.group = "基本属性";
        alarmValueRangeObj.editor = "text";
        arr.push(alarmValueRangeObj);
    }
    if (sensorObj["analogFlag"] == 1 && sensorObj.hasOwnProperty("powerCutValue")) {
        var powerCutValueObj = {};
        powerCutValueObj.name = "断电值:";
        powerCutValueObj.value = sensorObj["powerCutValue"];
        powerCutValueObj.group = "基本属性";
        powerCutValueObj.editor = "text";
        arr.push(powerCutValueObj);
    }
    if (sensorObj["analogFlag"] == 1 && sensorObj.hasOwnProperty("powerCutPort")) {
        var powerCutPortObj = {};
        powerCutPortObj.name = "断电控制端口:";
        powerCutPortObj.value = sensorObj["powerCutPort"];
        powerCutPortObj.group = "基本属性";
        powerCutPortObj.editor = "text";
        arr.push(powerCutPortObj);
    }
    if (sensorObj["analogFlag"] == 1 && sensorObj.hasOwnProperty("powerCutRange")) {
        var powerCutRangeObj = {};
        powerCutRangeObj.name = "断电控制范围:";
        powerCutRangeObj.value = sensorObj["powerCutRange"];
        powerCutRangeObj.group = "基本属性";
        powerCutRangeObj.editor = "text";
        arr.push(powerCutRangeObj);
    }

    //加载数据
    var json = {};
    json.total = arr.length;
    json.rows = arr;
    $("#proertyTip").propertygrid('loadData', json);
}

/*]]>*/
</script>
</html>